################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PipelinePattern/PipelinePattern.Application/obj/Debug
